 ul {
    list-style-type: none; /* إزالة النقاط */
    padding: 0; /* إزالة البادينج الافتراضي */
}
.vote li {
    border-bottom: 1px dashed #ccc; /* خط تحت كل عنصر */
    padding-bottom: 10px; /* بادينج من الأسفل للفصل بين العناصر */
}
.profile-user-img {
    border-radius: 50%;  /* يجعل الصورة دائرية */
    object-fit: cover;   /* يضمن ملاءمة الصورة بشكل جيد داخل الإطار */
    width: 100px;        /* اضبط العرض حسب الحاجة */
    height: 100px;       /* اضبط الارتفاع ليكون مساوياً للعرض للحصول على دائرة كاملة */
}
